<div class="container">
  <div class="header">
    <img src="../../../assets/images/roof.png" alt="blog thumbnail image" width="300" height="200">
    <h3>Blog post title example here</h3>
  </div>
  <div class="paragraph">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi porta lorem

      Vulputate dignissim suspendisse in est ante in. Integer malesu
      ada nunc vel risus commodo viverra maecenas.
      <br>
      <span>~ Author Name</span>
    </p>
  </div>
</div>